<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class = "navbar navbar-default navbar-dynamic-top">
   <div class = "text-center">
       <ul class = "nav navbar-nav">
         <li><a class = "navbar-brand" href = "{% url 'index' %}">HOME</a></li>
         <li><a class = "navbar-brand" href = "{% url 'admin:index' %}">admin</a></li>
         <li><a class = "navbar-brand" href = "{% url 'app1:register' %}">Register</a></li>
         <li><a class = "navbar-brand" href = "{% url 'app1:login' %}">Login</a></li>
         <li><a class = "navbar-brand" href = "{% url 'app1:logout' %}">logout</a></li>
         <li><a class = "navbar-brand" href = "{% url 'app1:special' %}">Special</a></li>
       </ul>
   </div>
</nav>
{% block body_block %}
{% endblock %}
</body>
</html>